@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

#root {
  /* On s'assure que le container prend toute la largeur sans contraintes */
  width: 100%;
  max-width: 100%;
  margin: 0;
}