@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader design fourni par l'utilisateur */
.loader {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 18px 18px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 5px;
  filter: hue-rotate(45deg);
  background-size: 12px 12px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(.5turn);
  }
}

@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDownFade 0.32s ease-out;
}
